<div class="questionnaire">
	<div class="questionnaire_header">
		<h1 class="questionnaire_title">{{ headerAndDescription().header }}</h1>
		<p class="questionnaire_description">{{ headerAndDescription().description }}</p>
	</div>
	@switch (currentStep()) {
		@case ("critical-symptoms") {
			<app-symptom-questions
				[questions]="criticalQuestions()"
				heading="Symptômes d'urgence"
				description="Présentez-vous l'un de ces symptômes nécessitant une prise en charge immédiate ?"
				(completed)="handleCriticalCompleted($event)"
			/>
		}

		@case ("personal-information") {
			<app-patient-identification (completed)="handlePersonalInfoCompleted($event)" />
		}
	}
</div>
