<div class="patientQuestions">
	<app-info-box
		text="Si vous ne présentez aucun de ces symptômes, poursuivez le questionnaire en cliquant sur le bouton ci-dessous."
	/>
	<div class="symptoms">
		@for (symptom of questions(); track symptom.symptomText) {
			<app-symptom-button
				[symptomText]="symptom.symptomText"
				[symptomEmoji]="symptom.symptomEmoji"
				(click)="selectedSymptom.set(symptom.symptomId)"
				[isSelected]="selectedSymptom() === symptom.symptomId"
			/>
		}
	</div>
	<app-button
		class="patientQuestions_button"
		[text]="selectedSymptom() ? 'Continuer' : 'Aucun de ces symptômes - Continuer'"
		(click)="submit()"
	/>
</div>
