@use "spacing";

:host {
	display: flex;
	flex-direction: column;
	height: 100dvh;
	background: var(--color-neutral-50);
}

.app {
	&_body {
		display: flex;
		flex: 1;
		min-height: 0;
	}

	&_content {
		flex: 1;
		min-width: 0;
		overflow-y: auto;

		padding: spacing.$spacing-16 spacing.$spacing-24 spacing.$spacing-32;
	}
}
