@use "../styles/colors" as *;
@use "../styles/breakpoints" as *;
@use "../styles/spacing" as *;
@use "../styles/typography" as *;

.headerBar {
  display: flex;
  min-height: $spacing-64;
  align-items: center;
  background: $color-primary;
  padding: 0 $spacing-16;
}

@media (min-width: $breakpoint-md) {
  .app-header {
    padding: 0 $spacing-24;
  }
}

h1 {
  @include typography-title;

  margin: 0;
  color: $color-text-light;
  line-height: 1;
}