<section
	class="dialog"
	[ngClass]="['-' + type]"
>
	<div class="dialog_header">
		@if (data.type === "danger") {
			<div class="dangerIconWrapper">
				<svg
					class="dangerIcon"
					lucideTriangleAlert
					aria-hidden="true"
				/>
			</div>
		}
		<h2 class="dialog_title">{{ data.title }}</h2>
	</div>

	@if (data.message) {
		<div class="dialog_content">
			<h3 class="dialog_subtitle">{{ data.subtitle }}</h3>
			<p class="dialog_message">{{ data.message }}</p>
		</div>
	}

	<div class="dialog_actions">
		<app-button
			(click)="confirm()"
			variant="danger"
			[text]="confirmLabel"
		/>
	</div>
</section>
