@use "spacing";

.patientInfo {
	margin-top: spacing.$spacing-32;

	display: flex;
	flex-direction: column;
	gap: spacing.$spacing-48;

	&_form {
		display: flex;
		flex-direction: column;
		gap: spacing.$spacing-24;
	}

	&_row {
		display: flex;
		gap: spacing.$spacing-16;
		align-items: center;

		app-number-input,
		app-switch {
			flex: 1 1 0;
			min-width: 0;
		}
	}

	&_buttons {
		display: flex;
		flex-direction: column;
		gap: spacing.$spacing-12;
	}
}
